# Notebook di training

In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (1.0.5)
Requirement already satisfied: numpy in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.18.5)
Requirement already satisfied: scikit-learn in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (0.23.1)
Requirement already satisfied: matplotlib in c:\users\tesys\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (3.2.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\tesys\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\tesys\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tesys\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\tesys\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (0.16.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\tesys\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.5.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tesys\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tesys\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\tesys\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 4)) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\tesys\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->-r requirements.txt (line 1)) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.utils import shuffle
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing as preproc

In [3]:

# LEGGO I FILE DI TEST E DI TRAINING E LI METTO IN DUE DATAFRAME
piazzamenti_training = pd.read_csv('training.csv')
piazzamenti_test = pd.read_csv('test.csv')
piazzamenti_training

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Placed,F,77.40,Others,60.0,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,300000.0
1,Placed,M,81.70,Others,63.0,Others,Science,67.00,Comm&Mgmt,Yes,86.00,Mkt&Fin,70.20,300000.0
2,Placed,M,70.00,Central,74.0,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,300000.0
3,Placed,M,87.00,Others,87.0,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,300000.0
4,Placed,F,78.00,Central,77.0,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,287000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Not Placed,F,46.00,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,0.0
125,Placed,M,84.86,Others,67.0,Others,Science,78.00,Comm&Mgmt,No,95.50,Mkt&Fin,68.53,240000.0
126,Not Placed,M,54.00,Others,47.0,Others,Science,57.00,Comm&Mgmt,No,89.69,Mkt&HR,57.10,0.0
127,Placed,F,84.00,Others,75.0,Others,Science,69.00,Sci&Tech,Yes,62.00,Mkt&HR,62.36,210000.0
128,Placed,M,73.00,Central,78.0,Central,Science,73.00,Sci&Tech,Yes,85.00,Mkt&HR,65.83,240000.0

In [4]:
piazzamenti_training

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Placed,F,77.40,Others,60.0,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,300000.0
1,Placed,M,81.70,Others,63.0,Others,Science,67.00,Comm&Mgmt,Yes,86.00,Mkt&Fin,70.20,300000.0
2,Placed,M,70.00,Central,74.0,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,300000.0
3,Placed,M,87.00,Others,87.0,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,300000.0
4,Placed,F,78.00,Central,77.0,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,287000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Not Placed,F,46.00,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,0.0
125,Placed,M,84.86,Others,67.0,Others,Science,78.00,Comm&Mgmt,No,95.50,Mkt&Fin,68.53,240000.0
126,Not Placed,M,54.00,Others,47.0,Others,Science,57.00,Comm&Mgmt,No,89.69,Mkt&HR,57.10,0.0
127,Placed,F,84.00,Others,75.0,Others,Science,69.00,Sci&Tech,Yes,62.00,Mkt&HR,62.36,210000.0
128,Placed,M,73.00,Central,78.0,Central,Science,73.00,Sci&Tech,Yes,85.00,Mkt&HR,65.83,240000.0

In [5]:
#METTO A 0 IL SALARIO PER STATUS NON PLACED

piazzamenti_training.loc[np.isnan(piazzamenti_training['salary']), 'salary'] = 0.0
piazzamenti_training = piazzamenti_training.dropna()
piazzamenti_training = shuffle(piazzamenti_training)
piazzamenti_training = piazzamenti_training.reset_index(drop=True)

In [6]:
#METTO A 0 IL SALARIO PER STATUS NON PLACED
piazzamenti_test.loc[np.isnan(piazzamenti_test['salary']), 'salary'] = 0.0
piazzamenti_test = piazzamenti_test.dropna()

In [7]:
piazzamenti_training

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Not Placed,M,52.00,Others,65.00,Others,Arts,57.00,Others,Yes,75.0,Mkt&Fin,59.81,0.0
1,Placed,M,80.00,Others,73.00,Others,Commerce,75.00,Comm&Mgmt,No,61.0,Mkt&Fin,58.78,240000.0
2,Placed,F,74.90,Others,57.00,Others,Science,62.00,Others,Yes,80.0,Mkt&Fin,60.78,360000.0
3,Placed,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.4,Mkt&Fin,74.01,360000.0
4,Placed,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Placed,M,84.20,Central,73.40,Central,Commerce,66.89,Comm&Mgmt,No,61.6,Mkt&Fin,62.48,300000.0
125,Placed,F,66.50,Central,66.80,Central,Arts,69.30,Comm&Mgmt,Yes,80.4,Mkt&Fin,71.00,236000.0
126,Placed,M,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.0,Mkt&Fin,66.23,500000.0
127,Placed,M,62.00,Central,63.00,Others,Science,66.00,Comm&Mgmt,No,85.0,Mkt&HR,55.14,233000.0
128,Not Placed,M,63.00,Central,67.00,Central,Commerce,74.00,Comm&Mgmt,No,82.0,Mkt&Fin,60.44,0.0

In [8]:
piazzamenti_test

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Placed,M,74.00,Central,62.00,Others,Science,68.00,Comm&Mgmt,No,74.00,Mkt&Fin,57.99,268000.0
1,Placed,M,60.80,Central,68.40,Central,Commerce,64.60,Comm&Mgmt,Yes,82.66,Mkt&Fin,64.34,940000.0
2,Not Placed,M,44.00,Central,58.00,Central,Arts,55.00,Comm&Mgmt,Yes,64.25,Mkt&HR,58.54,0.0
3,Placed,F,73.00,Central,97.00,Others,Commerce,79.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,650000.0
4,Not Placed,M,54.40,Central,61.12,Central,Commerce,56.20,Comm&Mgmt,No,67.00,Mkt&HR,62.65,0.0
5,Placed,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,218000.0
6,Placed,M,68.00,Central,76.00,Central,Commerce,74.00,Comm&Mgmt,No,80.00,Mkt&Fin,63.59,360000.0
7,Placed,F,73.00,Others,58.00,Others,Science,66.00,Comm&Mgmt,No,53.70,Mkt&HR,56.86,240000.0
8,Placed,F,66.50,Others,70.40,Central,Arts,71.93,Comm&Mgmt,No,61.00,Mkt&Fin,64.27,230000.0
9,Not Placed,M,51.57,Others,74.66,Others,Commerce,59.90,Comm&Mgmt,Yes,56.15,Mkt&HR,65.99,0.0
10,Placed,M,63.00,Others,71.40,Others,Commerce,61.40,Comm&Mgmt,No,68.00,Mkt&Fin,66.88,240000.0
11,Not Placed,F,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,0.0
12,Placed,M,65.00,Central,68.00,Others,Science,69.00,Comm&Mgmt,No,53.70,Mkt&HR,55.01,250000.0
13,Not Placed,M,52.00,Others,50.00,Others,Arts,61.00,Comm&Mgmt,No,60.00,Mkt&Fin,58.52,0.0
14,Placed,M,77.67,Others,64.89,Others,Commerce,70.67,Comm&Mgmt,No,89.00,Mkt&Fin,60.39,300000.0
15,Not Placed,M,59.96,Others,42.16,Others,Science,61.26,Sci&Tech,No,54.48,Mkt&HR,65.48,0.0
16,Not Placed,M,52.00,Central,62.00,Central,Commerce,54.00,Comm&Mgmt,No,72.00,Mkt&HR,55.41,0.0
17,Placed,M,82.00,Others,90.00,Others,Commerce,83.00,Comm&Mgmt,No,80.00,Mkt&HR,73.52,200000.0
18,Placed,F,69.50,Central,70.00,Central,Science,72.00,Sci&Tech,No,57.20,Mkt&HR,54.80,250000.0
19,Placed,M,74.00,Central,70.00,Central,Science,72.00,Comm&Mgmt,Yes,60.00,Mkt&Fin,57.24,260000.0
20,Placed,M,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,500000.0
21,Placed,M,63.00,Central,60.00,Central,Commerce,57.00,Comm&Mgmt,Yes,78.00,Mkt&Fin,54.55,204000.0
22,Not Placed,F,77.80,Central,64.00,Central,Science,64.20,Sci&Tech,No,75.50,Mkt&HR,72.14,0.0
23,Not Placed,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,0.0
24,Placed,M,82.00,Others,61.00,Others,Science,62.00,Sci&Tech,No,89.00,Mkt&Fin,65.45,360000.0
25,Placed,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,204000.0
26,Placed,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,265000.0
27,Placed,F,72.00,Others,60.00,Others,Science,69.00,Comm&Mgmt,No,55.50,Mkt&HR,58.40,250000.0
28,Not Placed,M,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,0.0
29,Placed,M,73.00,Central,64.00,Others,Commerce,77.00,Comm&Mgmt,Yes,65.00,Mkt&HR,60.98,250000.0
30,Not Placed,F,70.89,Others,71.98,Others,Science,65.60,Comm&Mgmt,No,68.00,Mkt&HR,71.63,0.0
31,Placed,F,79.00,Others,61.00,Others,Science,75.50,Sci&Tech,Yes,70.00,Mkt&Fin,68.20,210000.0
32,Placed,M,63.00,Central,72.00,Central,Commerce,68.00,Comm&Mgmt,No,78.00,Mkt&HR,60.44,380000.0
33,Placed,M,63.00,Others,62.00,Others,Commerce,68.00,Comm&Mgmt,No,64.00,Mkt&Fin,62.46,250000.0
34,Placed,M,58.00,Central,62.00,Central,Commerce,64.00,Comm&Mgmt,No,53.88,Mkt&Fin,54.97,260000.0
35,Not Placed,M,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,0.0
36,Placed,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,265000.0
37,Placed,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,360000.0
38,Placed,M,78.50,Central,65.50,Central,Science,67.00,Sci&Tech,Yes,95.00,Mkt&Fin,64.86,280000.0
39,Placed,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,300000.0
40,Placed,M,67.00,Others,63.00,Central,Commerce,72.00,Comm&Mgmt,No,56.00,Mkt&HR,60.41,225000.0
41,Placed,M,70.00,Central,63.00,Others,Science,70.00,Sci&Tech,Yes,55.00,Mkt&Fin,62.00,300000.0
42,Placed,F,73.00,Others,63.00,Others,Science,66.00,Comm&Mgmt,No,89.00,Mkt&Fin,60.50,216000.0

In [9]:
le = preproc.LabelEncoder()

le.fit(['Placed', 'Not Placed'])

#CODIFICO PLACED CON 1 E NOT PLACED CON 0, LE SALVO IN 2 VARIABILI PER PASSARLE AL METODO FIT E SCORE

output_labels_training = le.transform(piazzamenti_training['status'].values)
output_labels_test = le.transform(piazzamenti_test['status'].values)

#CANCELLO LE COLONNE CHE NON SONO FEATURES

piazzamenti_training = piazzamenti_training.drop(columns='status', axis=1)
piazzamenti_test = piazzamenti_test.drop(columns='status', axis = 1)

In [10]:
output_labels_training

array([0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0])

In [11]:
def one_hot_encode(dataset):
    return pd.get_dummies(dataset)

In [12]:
piazzamenti_training = one_hot_encode(piazzamenti_training)
piazzamenti_test = one_hot_encode(piazzamenti_test)

# colonne che sono in train ma non in test e viceversa a causa dell'one hot encoding, che potrebbe causare shape missmatch

col_to_add_test = np.setdiff1d(piazzamenti_training.columns, piazzamenti_test.columns)

col_to_add_train = np.setdiff1d(piazzamenti_test.columns, piazzamenti_training.columns)

for c in col_to_add_test:
    piazzamenti_test[c] = 0

for c in col_to_add_train:
    piazzamenti_training[c] = 0


piazzamenti_test = piazzamenti_test[piazzamenti_training.columns]
piazzamenti_training = piazzamenti_training[piazzamenti_test.columns]

In [13]:
piazzamenti_training

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_F,gender_M,ssc_b_Central,ssc_b_Others,...,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,workex_No,workex_Yes,specialisation_Mkt&Fin,specialisation_Mkt&HR
0,52.00,65.00,57.00,75.0,59.81,0.0,0,1,0,1,...,1,0,0,0,1,0,0,1,1,0
1,80.00,73.00,75.00,61.0,58.78,240000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,1,0
2,74.90,57.00,62.00,80.0,60.78,360000.0,1,0,0,1,...,0,0,1,0,1,0,0,1,1,0
3,76.50,97.70,78.86,97.4,74.01,360000.0,0,1,0,1,...,0,0,1,0,0,1,1,0,1,0
4,85.80,73.60,73.30,96.8,55.50,425000.0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,84.20,73.40,66.89,61.6,62.48,300000.0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
125,66.50,66.80,69.30,80.4,71.00,236000.0,1,0,1,0,...,1,0,0,1,0,0,0,1,1,0
126,73.24,50.83,64.27,64.0,66.23,500000.0,0,1,0,1,...,0,0,1,0,0,1,0,1,1,0
127,62.00,63.00,66.00,85.0,55.14,233000.0,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
128,63.00,67.00,74.00,82.0,60.44,0.0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0

In [14]:
piazzamenti_test

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_F,gender_M,ssc_b_Central,ssc_b_Others,...,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,workex_No,workex_Yes,specialisation_Mkt&Fin,specialisation_Mkt&HR
0,74.00,62.00,68.00,74.00,57.99,268000.0,0,1,1,0,...,0,0,1,1,0,0,1,0,1,0
1,60.80,68.40,64.60,82.66,64.34,940000.0,0,1,1,0,...,0,1,0,1,0,0,0,1,1,0
2,44.00,58.00,55.00,64.25,58.54,0.0,0,1,1,0,...,1,0,0,1,0,0,0,1,0,1
3,73.00,97.00,79.00,89.00,70.81,650000.0,1,0,1,0,...,0,1,0,1,0,0,0,1,1,0
4,54.40,61.12,56.20,67.00,62.65,0.0,0,1,1,0,...,0,1,0,1,0,0,1,0,0,1
5,77.00,87.00,59.00,68.00,68.63,218000.0,1,0,1,0,...,0,1,0,1,0,0,1,0,1,0
6,68.00,76.00,74.00,80.00,63.59,360000.0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
7,73.00,58.00,66.00,53.70,56.86,240000.0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,1
8,66.50,70.40,71.93,61.00,64.27,230000.0,1,0,0,1,...,1,0,0,1,0,0,1,0,1,0
9,51.57,74.66,59.90,56.15,65.99,0.0,0,1,0,1,...,0,1,0,1,0,0,0,1,0,1
10,63.00,71.40,61.40,68.00,66.88,240000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,1,0
11,56.28,62.83,59.79,60.00,57.29,0.0,1,0,0,1,...,0,1,0,1,0,0,1,0,0,1
12,65.00,68.00,69.00,53.70,55.01,250000.0,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
13,52.00,50.00,61.00,60.00,58.52,0.0,0,1,0,1,...,1,0,0,1,0,0,1,0,1,0
14,77.67,64.89,70.67,89.00,60.39,300000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,1,0
15,59.96,42.16,61.26,54.48,65.48,0.0,0,1,0,1,...,0,0,1,0,0,1,1,0,0,1
16,52.00,62.00,54.00,72.00,55.41,0.0,0,1,1,0,...,0,1,0,1,0,0,1,0,0,1
17,82.00,90.00,83.00,80.00,73.52,200000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,0,1
18,69.50,70.00,72.00,57.20,54.80,250000.0,1,0,1,0,...,0,0,1,0,0,1,1,0,0,1
19,74.00,70.00,72.00,60.00,57.24,260000.0,0,1,1,0,...,0,0,1,1,0,0,0,1,1,0
20,63.00,67.00,64.00,75.00,66.46,500000.0,0,1,0,1,...,0,0,1,0,0,1,1,0,1,0
21,63.00,60.00,57.00,78.00,54.55,204000.0,0,1,1,0,...,0,1,0,1,0,0,0,1,1,0
22,77.80,64.00,64.20,75.50,72.14,0.0,1,0,1,0,...,0,0,1,0,0,1,1,0,0,1
23,56.00,52.00,52.00,66.00,59.43,0.0,0,1,1,0,...,0,0,1,0,0,1,1,0,0,1
24,82.00,61.00,62.00,89.00,65.45,360000.0,0,1,0,1,...,0,0,1,0,0,1,1,0,1,0
25,74.00,66.00,58.00,70.00,60.23,204000.0,1,0,0,1,...,0,1,0,1,0,0,1,0,0,1
26,63.00,67.00,66.00,68.00,57.69,265000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,0,1
27,72.00,60.00,69.00,55.50,58.40,250000.0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,1
28,61.80,47.00,54.38,57.00,56.13,0.0,0,1,0,1,...,0,1,0,1,0,0,1,0,1,0
29,73.00,64.00,77.00,65.00,60.98,250000.0,0,1,1,0,...,0,1,0,1,0,0,0,1,0,1
30,70.89,71.98,65.60,68.00,71.63,0.0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,1
31,79.00,61.00,75.50,70.00,68.20,210000.0,1,0,0,1,...,0,0,1,0,0,1,0,1,1,0
32,63.00,72.00,68.00,78.00,60.44,380000.0,0,1,1,0,...,0,1,0,1,0,0,1,0,0,1
33,63.00,62.00,68.00,64.00,62.46,250000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,1,0
34,58.00,62.00,64.00,53.88,54.97,260000.0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
35,62.00,47.00,50.00,76.00,54.96,0.0,0,1,1,0,...,0,1,0,1,0,0,1,0,0,1
36,62.00,65.00,66.00,50.00,56.70,265000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,0,1
37,69.80,60.80,72.23,55.53,68.81,360000.0,1,0,0,1,...,0,0,1,0,0,1,1,0,0,1
38,78.50,65.50,67.00,95.00,64.86,280000.0,0,1,1,0,...,0,0,1,0,0,1,0,1,1,0
39,69.00,78.00,72.00,71.00,62.74,300000.0,1,0,1,0,...,0,1,0,1,0,0,1,0,0,1
40,67.00,63.00,72.00,56.00,60.41,225000.0,0,1,0,1,...,0,1,0,1,0,0,1,0,0,1
41,70.00,63.00,70.00,55.00,62.00,300000.0,0,1,1,0,...,0,0,1,0,0,1,0,1,1,0
42,73.00,63.00,66.00,89.00,60.50,216000.0,1,0,0,1,...,0,0,1,1,0,0,1,0,1,0

In [15]:
#piazzamenti_training = one_hot_encode(piazzamenti_training)
#piazzamenti_test = one_hot_encode(piazzamenti_test)
#print(piazzamenti_training.shape)
#print(piazzamenti_test.shape)

In [16]:
# USO UNO SCALER CHE MI PORTA TUTTI I VALORI VICINI TRA DI LORO NEL RANGE [0,1]

scaler = MinMaxScaler()
scaler.fit(piazzamenti_training)
piazzamenti_training = scaler.transform(piazzamenti_training)

scaler.fit(piazzamenti_test)
piazzamenti_test = scaler.transform(piazzamenti_test)

In [17]:
print(np.mean(np.array(piazzamenti_training)))
print(np.var(np.array(piazzamenti_training)))

0.4428324258782412
0.19627732561793335

In [18]:
piazzamenti_training.shape

(129, 22)

In [19]:
piazzamenti_training[0,6]

0.0

In [20]:
print(output_labels_training)
print(output_labels_test)

[0 1 1 1 1 1 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1
 1 1 0 1 1 0 0 0 1 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1
 0 1 1 1 0 1 0 0 1 1 1 0 0 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1
 0 1 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 0]
[1 1 0 1 0 1 1 1 1 0 1 0 1 0 1 0 0 1 1 1 1 1 0 0 1 1 1 1 0 1 0 1 1 1 1 0 1
 1 1 1 1 1 1]

In [21]:
#ADDESTRO IL MODELLO UTILIZZANDO L'OTTIMIZZAZIONE ADAM, STEP SIZE 1E-5 E UN MASSIMO DI 100000 ITERAZIONI

clf = MLPClassifier(solver='adam', alpha=1e-5, random_state=1, max_iter = 100000)
clf.fit(piazzamenti_training, output_labels_training)

MLPClassifier(alpha=1e-05, max_iter=100000, random_state=1)

In [22]:

print("Accuracy on training set: {:.3f}".format(clf.score(piazzamenti_training, output_labels_training)))
print("Accuracy on test set: {:.3f}".format(clf.score(piazzamenti_test, output_labels_test)))

Accuracy on training set: 1.000
Accuracy on test set: 0.977